// Define variables for your color scheme

// For example:
$red: #e5383b;
$anthracite: #403d39;
$light-brown: #ddbea9;
$light-green: #b7b7a4;
$deep-green: #a5a58d;
$gray: #fff1e6;
$light-gray: #f0efeb;
$orange: #f6bd60;
$peach: #FBFFF1;
