.form-control-dash {
    display: inline;
    width: 269px;
    margin-left: 36px;
    justify-content: center;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.collapse {
  display: block !important;
}

.text-list {
  width: 308px;
}

.text-list a {
  color: hsla(357, 88%, 32%, 0.932);
}
