.form-control-dash {
    display: inline;
    width: 269px;
    margin-left: 36px;
    justify-content: center;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.collapse {
  display: block !important;
}
.text-list {
  width: 308px;
}
.text-list a {
  color: hsla(357, 88%, 32%, 0.932);
}
.round-img-dashboard {
    border-radius: 73px;
    height: 75px;
    padding: 8px;
}

.space-header{
display: flex;
justify-content:space-between;
padding: 2rem;
background-color: whitesmoke;
height: 80px;
}

.bookshelf-list {
  list-style: none;
  margin-left: 12px;
  padding-left: 0;
  text-align: left;
  font-size: 16px;
  font-family: 'Poppins';
  margin-top: -19px;
}
.card-product-bookshelf {
  display: block;
  align-items: center;
  margin: 9px;
}
.card-product-bookshelf img {
  height: 108%;
  width: 30%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-product-book {
  padding: 16px;
  display: flex;
  margin-left: 13px;
  width: 109%;
  align-items: center;
  height: 177px;
}

.date-review {
  color: grey;
  font-size: 11px;
}

.title-dashboard {
  margin-top: -4px;
  margin-bottom: 19px;
  font-weight: bold;
  margin-left: 41px;
  text-align: left;

}

.link-dashboard {
  display: flex;
  align-items: center;
  white-space: nowrap;
}


.list-books {
  display: flex;
  flex-direction: column;
  height: 147px;
  margin-top: 41px;

}

.rating-stars {
    flex: 0;
    margin-bottom: 14px;

}

.title-user {
 font-size: 17px;
 font-style: bold;
  margin-left: 42px;
}


.author-dash {
 color: grey;
 font-size: 14px;
 margin-bottom: 0px;
}

.title-book-dash {
  color: black;
  font-size: 17px;
  margin-bottom: -12px;
}
