h2.favorite-title {
  text-align: left;
  padding: 30px;
}

.image-favorite {
  margin-top: 68px;
}

  .card-product-favorite {
  padding: 16px;
  display: flex;
  margin-left: -17px;
  width: 109%;
  align-items: center;
  height: 159px;
}

.title-favorite {
  margin-top: -32px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-left: 0px;
  text-align: left;
}
