h2.favorite-title {
  text-align: left;
  padding: 30px;
}

.image-favorite {
  margin-top: 51px;
}

.card-product-favorite {
padding: 16px;
display: flex;
margin-left: 5px;
width: 109%;
align-items: center;
height: 159px;
}

.title-favorite {
    margin-top: -4px;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 49px;
    text-align: left;
}


.card-product-favorite img {
    height: 100%;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}
