Specific CSS for your home-page

.main-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(237, 220, 210);
  min-height: 100vh;
  flex-grow: 1;

}

.main-content {

  background-color: rgb(237, 220, 210);
  min-height: 100vh;
}

.main-container-content {

  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  max-height: 90vh;
  overflow: scroll;
  padding-bottom: 80px;

}


.image-home {
  width: 200px;
  height: 200px;
  margin-top: 200px;
  margin-bottom: 20px;
  justify-content: center;
}

/* h2 {
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  font-family: $body-font;
} */

.dashboard {
  font-family: $body-font;
}

a {
  color: darkslategray;
  text-decoration: none;
  background-color: transparent;
}

h1, .h1 {
  font-size: 1.8rem;
  margin-top: 20px;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 50px auto;
  padding: 10px;
}

label {
  margin-bottom: 0;
}

h2 {
  text-align: left;
}
