.recommended-books{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: justify;
  margin-bottom: auto;
}

.recommended-books p {
  text-align: center;
}

.recommended-books h1 {
  font-size: 28px;
  font-weight: bolder;
  margin-left: 10px;
}

.text-left a {
  color: black;
}

.author {
  color: grey;
  margin-bottom: 35px;
}

.recommended-list {
  display : flex;
  flex-direction: column;
  text-align: left;
  align-items: justify;
}

// ---------CARD-----------

.card-recommended-book {
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .3);
  margin: 10px;
  position: relative;
  height: auto;
  float:right;
}

.card-recommended-book p {
  text-align: left;
}

.card-recommended-book h1 {
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  text-align: left;
  max-width:70%;
  padding-left:10px;
  margin-left: 0px;
}

//--------HEART------------

.to-wishlist-reco img {
  position: absolute;
  right: 20px;
  top: 15px;
}


//------RATING-----
.rating {
  margin-left: 20px;
  margin-top: 9px;
  padding-bottom: 12px;
  max-width: 70%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.rating p {
  font-size: 12px;
  color: lightgrey;
  margin-left: 0px;
}

///----MATCHING-----

.matching {
  display: flex;
  align-items: stretch;
  margin-left: 10px;
  margin-top: 30px;
}

.number-of-reviews {
  font-size: 24px;
  color: red;
  margin-left: 14px;
  max-width: 42%;
}

.second-phrase {
  font-size: 14px;
  margin-left: 14px;
  max-width: 42%;
}
