.review-form svg {
  width: 40px;
}

.main-container {
  background-color: white;
}

.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
    margin-top: 13px;
}

.card-product-review {
  background-color: transparent;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 10px;
  justify-content: space-evenly;
}

.review-img {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.subtitle-review-new {
  font-size: 14px;
  color: grey;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 10px;
}

textarea.form-control {
  height: 118px;
  margin-right: 20px;
  justify-content: normal;
}

.review-input {
  text-align: left;
}

.post-button {
  text-align: left;
}


.title-review h1 {
  font-size: 24px;
  margin-bottom: 0px;
  text-transform: unset;

}

.subtitle-review {
  font-size: 16px;
  color: grey;
  margin-bottom: 32px;

}

.photo-book-show {
border-radius: 5px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
