.review-form svg {
  width: 40px;
}

.main-container {
  background-color: white;
}

.heart-div > input:checked + label:hover,
.heart-div > input:checked + label:hover ~ label,
.heart-div > input:checked ~ label:hover,
.heart-div > input:checked ~ label:hover ~ label,
.heart-div > label:hover ~ input:checked ~ label {
  color: red;
}

.heart-div{
  input {
    display: none;
  }
}

.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
    margin-left: 128px;
    margin-top: 13px;
}
