.review-form svg {
  width: 40px;
}

.main-container {
  background-color: white;
}

.heart-div > input:checked ~ label {
  color: darkolivegreen;    
}
.heart-div:not(:checked) > label:hover,
.heart-div:not(:checked) > label:hover ~ label {
  color: blue;  
}
.heart-div > input:checked + label:hover,
.heart-div > input:checked + label:hover ~ label,
.heart-div > input:checked ~ label:hover,
.heart-div > input:checked ~ label:hover ~ label,
.heart-div > label:hover ~ input:checked ~ label {
  color: red;
}

.heart-div{
  input {
    display: none;
  }
}
