<!-- app/views/pages/_list.html.erb -->

<div data-refresh-list-target="list">
  <ol>
  <% @books.each do |book| %>
    <li class="text-list"><%= link_to book_path(book) do
     %><%= book.title %> : <%= book.author.first_name %>, <%= book.author.last_name %>
     <% end %>
     </li>
  <% end %>
  </ol>
</div>
