
<div class="main-container">
    <div class="main-container-content">
      <%= image_tag "logo.png" %>
      <%# <h2>Join our community with 10k readers!</h2> %>
    </div>
</div>

<script>
  if(window.location.pathname === '/') {
  setTimeout(function(){   window.location = '/signup'; }, 3000);
}
</script>
