<div class="main-container">
    <div class="main-container-content home">
      <%= image_tag "logo.png", class: "image-home" %>
    </div>
</div>

<script>
  if(window.location.pathname === '/') {
  setTimeout(function(){   window.location = '/signup'; }, 3000);
}
</script>
