
<div class="main-container-content" data-controller="refresh-list">

  <h2 class="style-search-h2"> Add this book to your bookshelf </h2>
  <div class="search-bar">
    <%= form_with url: dashboard_path, method: :get, html: { data: { refresh_list_target: 'form' } }  do |f| %>
      <div>
        <%= f.text_field :query,
          class: "form-control-dash-search",
          placeholder: 'Harry Potter ...',
          value: params[:query],
          autocomplete: "off",
          data: {
          refresh_list_target: 'searchInput',
          action: "keyup->refresh-list#update"
              } %>
        <img src="<%= image_path('icons/search_celia.svg') %>" alt="search" class="search_icon">
      </div>
    <% end %>
    <div data-refresh-list-target="list">
    </div>
  </div>
</div>
