
<div class="main-container-content">
        <div class="link-dashboard">
          <img class="round-img-dashboard" src="https://www.gravatar.com/avatar/6b844ee7b315c16675d09696731e369e.jpg" alt="firstname">
          <a class="h1-dashboard py-5">Hi <%=current_user.first_name%></a>
        </div>
</div>







