


<div class="main-container-content py-5">

  <h1>Welcome to Book Society where the great minds rejoice</h1>

      <%= link_to "Log in", new_user_session_path, class: "btn btn-signup" %>
      <%= link_to "Sign up", user_registration_path, class: "btn btn-signup" %>
<% end %>
</div>
