.btn-review {
  background: #b08968;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 6px;
&:hover {
  background: lightgray;
}
}


.btn-signup {
  background: #b08968;
  color: white;
  width: 200px;
  height: 36px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  font-family: "jost";
  margin-top: 10px;
&:hover {
  background: lightgray;
}
}

.btn-signup2 {
  background:none;
  border-color: none;
  color: black;
  width: 200px;
  height: 36px;
  font-size: 15px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
&:hover {
  background: lightgray;
}
}

.btn-signup3 {
  background:none;
  border-color: black;
  color: black;
  width: 200px;
  height: 36px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
&:hover {
  background: lightgray;
}
}

.btn-book {
  background: #b08968;
  color: white;
  width: 145px;
  height: 38px;
  border-radius: 6px;
  margin-top: 38px;
&:hover {
  background: lightgray;
}
}


