.btn-review {
  background: #b08968;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 6px;
&:hover {
  background: lightgray;
}
}


.btn-signup {
  background: #b08968;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  font-family: "jost";
  margin-top: 8px;
&:hover {
  background: lightgray;
}
}

.btn-signup2 {
  background: #ddbea9;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  font-family: "jost";
  margin-top: 8px;
&:hover {
  background: lightgray;
}
}

.btn-dash {
  background: #b08968;
  color: white;
  width: 74px;
  height: 35px;
  border-radius: 6px;
&:hover {
  background: lightgray;
}
}
