.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

/* .navbar-lewagon .navbar-brand img {
  width: 40px;
}
 */

.nav-links {
  display: block;
  padding: 0.5rem 1rem;
  height: 60px;
  width: 150px;
  margin-top: 30px;
  color:#b08968;
}

.nav-tabs {
    padding-left: 0rem;
    font-size: x-large;
    margin-top: 0px;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    height: 67px;
    background-color: white;
    z-index: 666;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 23px;
    margin: 25px;
}

// .link {
// size: 40px;

// }


.profile-title {
 display: flex;
 margin: inherit;
 position: fixed;
 font-style: normal ;
}

.plus_celia {
  height: 40px;

}


.dropdown-menu {
  text-align: center;
  color: black;
  font-size: 12px;
  position: relative;

}


